* {
  box-sizing: border-box;
  font-family: cursive;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

body {
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
}

.container {
  height: 100vh;
  width: 70vw;
  background-color: white;
  margin: 0;
  box-shadow: 10px 10px 24px 0 rgba(0, 0, 0, 0.5);
}

h1 {
  text-align: center;
}

i {
  color: goldenrod;
  margin: 0;
  font-size: 36px;
}

.input {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

input {
  border: none;
  border-bottom: 3px solid black;
  width: 75%;
  font-size: 28px;
}

input:focus {
  outline: none;
}

ul {
  list-style-type: none;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 15px;
}

li::before {
  content: "- ";
}

@media (max-height: 600px) {
  html,
  body {
    height: auto;
  }
}

@media (max-width: 500px) {
  * {
    font-size: 24px;
  }

  i {
    font-size: 24px;
  }

  input {
    font-size: 18px;
    border-bottom: 1.5px solid black;
  }

  ul {
    margin-left: 0px;
  }
}

@media (max-width: 300px) {
  * {
    font-size: 18px;
  }

  i {
    font-size: 18px;
  }

  input {
    font-size: 12px;
    border-bottom: 1.5px solid black;
  }

  ul {
    margin-left: 0px;
  }
}
